<div class="product-custom-selection">
  <a data-option="white" class="white" href="/products/oakley-sandal-cyan">White</a>
  <a data-option="red" class="red" href="/products/oakley-sandal-gold">Red</a>
  <a data-option="black" class="black" href="/products/oakley-sandal-green">Black</a>
</div>
