<div class="product-custom-selection">
  <a class="white" href="/products/white-t-shirt">White</a>
  <a class="red" href="/products/black-t-shirt">Red</a>
  <a class="black" href="/products/red-t-shirt">Black</a>
</div>
