<div class="product-custom-selection">
  <a data-option="white" class="white" href="/products/white-t-shirt">White</a>
  <a data-option="red" class="red" href="/products/red-t-shirt">Red</a>
  <a data-option="black" class="black" href="/products/black-t-shirt">Black</a>
</div>
